div.card{
    color: white;
    border: 0px solid;
    padding: 10px;
    box-shadow: 4px 4px 20px;
    width: 17em;
    background-image: linear-gradient(rgb(44, 36, 6), rgb(177, 156, 106))
}

div.card div.card-body div.title-card{
    font-size: 13px;
    text-decoration: double;
}
div.card div.card-body img{
    width: 80px;
}

div div p{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

h6{
    font-size: 15px;   
    color: rgb(119, 85, 22);
    background:none;
}

div div a.boton{
    background-color: rgb(119, 85, 22);
    color: white;
    width: 110px;      
    display: block;
    text-align: center;   
    font-size: 12px;
    margin: 0 auto;
}

div div a.boton:hover{
    background-color: rgb(119, 85, 22);
    color: white;
}