nav{
    background-color: #473610;
    color: rgb(255, 255, 255);
    font-size: 2em;
}
nav img.logo{
    margin-right: 100px;
}

nav div Button.btn {
    font-size: 15px;
    border: transparent;
    margin-right: 10px;
}

nav div .btn:hover{   
    background: #44321b;
    border: transparent;
}
